language: python
python:
  - "2.6"
  - "2.7"
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq debhelper autotools-dev cups-ppdc libcups2-dev cups
 - pip install httplib2 pycups pytest-cov --use-mirrors
install:
 - ./configure
 - sudo make install
 - sudo cupsctl --debug-logging
script:
 - sudo cp .coveragerc /usr/local/lib/cloudprint-cups/
 - cd /usr/local/lib/cloudprint-cups/
 - sudo cp testfiles/testppd.ppd  /usr/share/cups/model/testppd.ppd
 - sudo chmod -R o+rw .
 - sudo py.test --cov .
 - sudo cat /var/log/cups/cloudprint_log /var/log/cups/error_log
 - sudo unlink /usr/share/cups/model/testppd.ppd 