language: python
python:
  - "2.6"
  - "2.7"
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq debhelper autotools-dev cups-ppdc libcups2-dev cups
 - pip install httplib2 pycups pytest-cov --use-mirrors
install:
 - ./configure
 - sudo make install
 - sudo gpasswd -a `whoami` lpadmin
script:
 - sudo cp .coveragerc /usr/local/lib/cloudprint-cups/
 - cd /usr/local/lib/cloudprint-cups/
 - sudo chmod -R o+rw .
 - py.test --cov .
 - sudo gpasswd -d `whoami` lpadmin